<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion | SeedFlow</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-green-50">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <!-- Logo -->
        <div class="flex justify-center mb-6">
            <img src="/media/logo/logo.png" alt="SeedFlow Logo" class="h-36">
        </div>
        
        <h2 class="text-2xl font-semibold text-center text-green-700 mb-4">Connexion</h2>
        
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" class="w-full bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition">Se connecter</button>
        </form>
        
        <p class="mt-4 text-center text-gray-600">
            Vous n'avez pas de compte ? 
            <a href="{% url 'signup' %}" class="text-yellow-500 hover:underline">Inscrivez-vous</a>
        </p>
    </div>
</body>
</html>
